@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    
}

/* Navbar */
#header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem;
    min-height: 10vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
#header-img {
    width: 18rem;
    height: 2rem;
}
#nav-bar{
    width:30rem;
    
}
#header ul li{
    list-style: none;
}
#header ul li a{
    text-decoration: none;
}
#nav-bar ul{
    display:flex;
    justify-content: space-around;
}


 
/* Hero */
.hero {
    text-align: center;
    padding-top: 5rem;
}
label{
    font-size: 1.5rem;
}
#email{
    width: 280px;
    height: 1.6rem;
    padding-left: 10px;
}
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
input{
    margin-top: 1rem;
}


/* Descirption */
i{
    color: #cfab18; 
}
.icon{
    display: flex;
    padding-top: 4rem;
}
.description{
    width:60%;
    margin: auto;
    margin-top: 5rem;
}
.description-text{
    padding-left: 5rem;
}
.extra{
    padding-left: 6.6rem;
}


/* Video */
.video{
    width:40%;
    height: 30rem;
    margin: auto;
}
#video{
    padding-top: 6rem;
    width: 100%;
    height: 100%;
}