@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    
}
.main{
    position: relative;
}
li{
    list-style: none;
}

/* Navbar */
.up{
    position: relative;
    
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    height: 10vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #eee;
    align-items: center;
}
#header-img {
    width: 18rem;
    height: 2rem;
}
#nav-bar{
    width:40%;
    
}

#header ul li a{
    text-decoration: none;
}
#nav-bar ul{
    display:flex;
    justify-content: space-around;
}


 
/* Hero */
.hero {
    text-align: center;
    padding-top: 6rem;
}
label{
    font-size: 1.5rem;
}
#email{
    width: 280px;
    height: 1.6rem;
    padding-left: 10px;
}
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
input{
    margin-top: 1rem;
}


/* Descirption */
i{
    color: #cfab18; 
}
.icon{
    display: flex;
    padding: 4rem 2rem 0 2rem;
}
.description{
    max-width:60rem;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
}
.description-text{
    padding-left: 5rem;
}
.extra{
    padding-left: 6.6rem;
}


/* Video */
.video{
    max-width:600px;
    width: 100%;
    height: 30rem;
    margin: auto;
}
#video{
    padding-top: 6rem;
    max-width: 600px;
    width: 100%;
    height: 100%;
    max-width: 560px;
    object-fit: cover;
}

/* Card */
.cards{
    display: flex;   
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 4rem;
    
}
.card-list {
    border: 1px solid black;
    border-radius: 2px;
    max-width: 320px;
    width: 100%;
    text-align: center;
    margin-left: 1rem;
}
.card-head{
    background-color: #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.card-cost {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-text {
    padding-bottom: 4px;
    padding-top: 4px;
}
.submit{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}


/* footer */
footer{ 
    max-width: 960px;
    width: 100%;
    height: 5rem;
    margin:auto;
    margin-top: 2rem;
    background-color: #ddd;
}
.footer-container .foot {
    display: flex;
    justify-content: flex-end;

}
.foot-items{
    padding-left: 2rem;
}
footer p{
    text-align: right;
    color: #444;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}
.footer-container{
    padding: 1rem 2rem;
}



@media screen and (max-width: 800px) {
    .cards {
        flex-wrap: wrap;
        width: 400px;
        margin: auto;
        margin-top: 2rem;
    }
    .card-list {
        margin-top: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
      #header {
          flex-wrap: wrap;
          height: 20vh;
      }
      #nav-bar ul {
          flex-wrap: wrap;
          width: 100px;
          margin: auto;
      }
  }

  @media screen and (max-width: 500px){
      
  }